.btn.btn-success {
    background-color: #00796B;
    border-color: #B2DFDB;
}

.bg-success {
    background-color: #00796B!important;
}

/* Magnific Popup image's title */
.mfp-title {
    text-align: center!important;
}